@media (max-width:400px)
{
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to right,blue,aqua);
        font-family: Arial;
    }
    p
    {
        color:white;
        background: greenyellow;
        padding: 10px;
        animation-name: duy;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes duy
    {
        10%{background: red;}
        50%{background: blue;}
        100%{background: orchid;}
    }
}